{{ template "header" . }}

<div class="border-b border-gray-300 pb-5 sm:flex sm:items-center sm:justify-between">
    <h3 class="font-semibold leading-6 text-gray-900 text-xl">Error</h3>
</div>
<div class="mt-8">
    {{ .Data }}
</div>

{{ template "footer" . }}
