name: Go Tests

on:
  pull_request:
    branches:
      - 'main'
  workflow_dispatch: {}

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install dependencies
        run: go mod tidy

      - name: Go Format
        run: gofmt -d -e .

      - name: Go Vet
        run: go vet ./...

      - name: Run tests
        run: go test ./...

      - name: Staticcheck
        uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
